html, body{
  width: 100%;
  height: 100%;
}

body{
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.page-container{
  width: 1200px;
  margin: 0 auto;

  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);

          box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button{
  display: block;

  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  border: none;
}

.button--open-order{
  width: 570px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;

  text-align: center;
}

.button--search{
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
}

.button--open-order,
.button--search{
  font-size: 21px;
  line-height: 26px;
}

.button--open-order,
.button--book{
  background-color: #766357;
}

.button--open-order:hover,
.button--open-order:focus,
.button--book:hover,
.button--book:focus{
  outline: none;
  background-color: #604e43;
}

.button--open-order:active,
.button--book:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button--search,
.button--more{
  background-color: #81b3d2;
}

.button--search:hover,
.button--search:focus,
.button--more:hover,
.button--more:hover{
  outline: none;
  background-color: #669ec0;
}

.button--search:active,
.button--more:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button--more, .button--book{
  margin-top: 14px;
  padding: 3px 17px;

  font-size: 14px;
  line-height: 21px;
}

.button--transparent{
  margin: 0 auto;
  padding: 7px 34px;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button--transparent:hover,
.button--transparent:focus{
  background-color: #ffffff;
  color: #000000;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.main-nav{
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 15px 73px;
}

.main-nav__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 26px;
}

.logo{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 72px;
}

.main-nav__item{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  margin-right: 20px;
}

.main-nav__item--left{
  text-align: left;
}

.main-nav__item--right{
  text-align: right;
}

.main-nav__item:nth-child(4n + 2){
  margin-right: 130px;
}

.main-nav__item:last-child{
  margin-right: 0;
}

.main-nav__link{
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.main-nav__link:hover,
.main-nav__link:focus{
  outline: none;
  color: #81b3d2;
}

.main-nav__link:active{
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__link--active{
  color: #766357;
}

.banner{
  margin-bottom: 60px;
  padding-top: 76px;
  padding-bottom: 80px;

  background-color: #000000;
  background-image:
    url("../img/decor/polygon.png"),
    url("../img/background/background-sedona.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 451px, 0 -56px;
}

.banner img{
  display: block;
  width: 459px;
  height: 353px;
  margin: 0 auto;
}

.about-us{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.about-us header{
  width: 590px;
}

.about-us h2{
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.about-us p{
  margin: 0;
  padding: 0;

  line-height: 26px;
  text-align: center;
}

.features__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__list li{
  text-align: center;
}

.features__list h3{
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-left: 78px;
  padding-right: 79px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features__list p{
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.features__list p:last-child{
  margin-bottom: 0;
}

.feature__container{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 400px;
  padding-top: 47px;
  padding-bottom: 53px;
  padding-left: 46px;
  padding-right: 46px;
}

.feature__item{
  background-color: #eeeeee;
}

.feature__item--picture{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;

  color: #ffffff;
  background-color: #81b3d2;
}

.item-feature__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-feature__item{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding: 47px;
  padding-top: 160px;
  padding-bottom: 85px;

  color: #000000;
  background-color: #ffffff;
  background-position: 163px 59px;
  background-repeat: no-repeat;
}

.item-feature__item--accomodation{
  background-image: url("../img/icons/accommodation.svg");
}

.item-feature__item--food{
  background-image: url("../img/icons/food.svg");
}

.item-feature__item--souvenir{
  background-image: url("../img/icons/souvenir.svg");
  background-position: 169px 56px;
}

.order{
  position: relative;

  padding-top: 56px;
}

.order-container{
  width: 440px;
  margin: 0 auto;
  margin-bottom: 45px;

  text-align: center;
}

.order-container b{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.order-container p{
  margin: 0;
  margin-top: 23px;
  padding: 0 21px;

  line-height: 24px;
}

.modal-search{
  position: absolute;
  top: 100%;
  left: 50%;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 570px;
  margin-left: -285px;
  padding: 55px;
  padding-top: 53px;
  padding-bottom: 53px;
  z-index: 1;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1)
}

.modal-search--close{
  display: none;
}

.modal-search form{
  font-weight: 700;
  color: #000000;
}

.modal-search input{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.modal-search input:hover{
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.modal-search input:focus{
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.modal-search input::-webkit-input-placeholder{color: #000000;}
.modal-search input:-moz-placeholder{
  color: #000000;
  opacity: 1
}
.modal-search input::-moz-placeholder{
  color: #000000;
  opacity: 1
}
.modal-search input:-ms-input-placeholder{
  color: #000000;
}

.form-container{
  margin-bottom: 55px;
}

.reg-date input{
  width: 348px;
  padding: 3px 35px 3px 13px;
}

.reg-date p{
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.calendar{
  position: absolute;
  top: 50%;
  right: 10px;

  width: 22px;
  height: 22px;
  margin-top: -11px;
  padding: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/icons/calendar-sprite.svg");
  background-position: 0 -22px;
  background-repeat: no-repeat;
}

.calendar:hover,
.calendar:focus{
  background-position: 0 -44px;
}

.calendar:active{
  background-position: 0 0;
}

.tickets{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tickets__container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 348px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tickets__half-width{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.tickets__half-width p{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 115px;
  margin: 0;
  padding: 0;
}

.tickets__half-width input{
  width: 38px;
  padding: 4px;

  text-align: center;
}

.change-value{
  width: 38px;
  padding: 0 13px;

  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #a9a9a9;

  border: none;
  background-color: #f2f2f2;
}

.change-value:hover,
.change-value:focus{
  color: #000000;
  outline: none;
}

.change-value:active{
  color: #81b3d2;
}

.page-footer{
  position: relative;
}

.map{
  position: relative;
  height: 593px;
}

.map iframe{
  position: absolute;
  top: 0;
  left: 0;
}

.index .footer-container{
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: rgba(255, 255, 255, 0.9);
}

.visit-sedona,
.socials,
.copyright{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.visit-sedona{
  margin: 0;
  padding: 0;
}

.visit-sedona a{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.socials__list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item{
  display: inline-block;
  margin-right: 2px;

  vertical-align: middle;
  background-color: #669ec0;
}

.socials__link{
  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-tw{
  background-image: url("../img/icons/twitter.svg");
}

.social-fb{
  background-image: url("../img/icons/facebook.svg");
}

.social-youtube{
  background-image: url("../img/icons/youtube.svg");
}

.socials__link:hover,
.socials__link:focus{
  background-color: #669ec0;
}

.socials__link:active{
  opacity: 0.3;
}

.copyright{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;


  color: #000000;
}

.copyright__link{
  margin-left: 8px;
}

.copyright__link:hover path,
.copyright__link:focus path{
  fill: #81b3d2;
}

.copyright__link:active path{
  fill: #bdbbbc;
}

/*       стили для hotels.html      */

.filters{
  padding: 29px 73px;
  padding-bottom: 31px;

  color: rgba(255, 255, 255, 1);
  background: #6c5e5d url("../img/background/filter-background.jpg") no-repeat 0 -55px;
}

.filters-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.checkbox-container fieldset{
  width: 255px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox-container p{
  margin: 0;
  margin-top: 25px;
}

.checkbox-container-inner input{
  display: none;
}

.checkbox-container-inner label{
  position: relative;
  padding-left: 40px;
}

.checkbox-container-inner label::before{
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  width: 26px;
  height: 23px;
  background: url("../img/icons/checkbox.svg") no-repeat 0 0;
}

.checkbox-container-inner input:checked + label::before{
  background-position: 0 -23px;
}

.checkbox-container-inner input:disabled + label::before{
  opacity: 0.5;
}

.filters__form fieldset{
  margin: 0;
  padding: 0;

  border: none;
}

.filters__form h3{
  margin: 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters__form label{
  font-size: 14px;
  line-height: 21px;
}

.filter-range{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 324px;
  margin-left: auto;
}

.filter-range-container{
  padding-left: 8px;
}

.filter-range h3{
  margin-bottom: 10px;
}

.price-controls{
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 37px;
  margin-bottom: 20px;
  padding: 5px 0;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-controls{
  position: relative;
  margin-bottom: 32px;
}

.range-controls__scale{
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls__bar{
  width: 80%;
  height: 2px;

  background-color: rgba(255, 255, 255, 1);
}

.range-toggle{
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover{
  background: #1c4f80;
}

.range-toggle-min{
  left: 0;
}

.range-toggle-max{
  left: 80%;
}

.filter-range label{
  display: inline-block;
  width: 90px;

  vertical-align: middle;
}

.min-price{
  padding-left: 65px;
}

.max-price{
  padding-left: 55px;
}

.filter-range input{
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

.filter-range input::-webkit-input-placeholder{color: #ffffff;}
.filter-range input:-moz-placeholder{
  color:#ffffff;
  opacity: 1;
}
.filter-range input::-moz-placeholder{
  color:#ffffff;
  opacity: 1;
}
.filter-range input:-ms-input-placeholder{
  color:#ffffff;
}

.sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.sort-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-result{
  width: 150px;
  margin: 0;
  margin-right: 13px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sort-by-type span{
  margin-right: 36px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-by-type__link{
  margin-right: 29px;

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-by-type__link:hover,
.sort-by-type__link:focus{
  color: #81b3d2;
}

.sort-by-type__link:active{
  color: rgba(0, 0, 0, 1);
  border: none;
}

.sort-by-type__link--active{
  color: #81b3d2;
  border: none;
}

.sort-order{
  margin-left: 3px;

  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-order:hover,
.sort-order:focus{
  color: rgba(0, 0, 0, 1);
}

.sort-order:active{
  color: #81b3d2;
}

.sort-order--active{
  color: #81b3d2;
}

.hotels__item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px 72px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e5e5e5;
}

.hotels__item img{
  margin-right: 30px;
  margin-top: 5px;
}

.hotel-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel-info__half-with-container{
  margin-right: 6px;
}

.hotel-info__title{
  width: 100%;
  margin: 0;
  margin-bottom: 6px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-info__title a{
  color: rgba(0, 0, 0, 1);
}

.hotel-info__title a:hover,
.hotel-info__title a:focus{
  color: #81b3d2;
}

.hotel-info__title a:active{
  color: rgba(0, 0, 0, 0.3);
}

.hotels__rating{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 240px;
  margin-left: auto;
  margin-top: 5px;
}

.hotels__rating p{
  padding: 3px 14px;
  margin: 0;
  -ms-align-self: flex-end;
  align-self: flex-end;
  color: #666666;
  background-color: #f2f2f2;
}

.hotels__rating--1{
  background-image:
    url("../img/decor/star.svg"),
    url("../img/decor/star.svg"),
    url("../img/decor/star.svg"),
    url("../img/decor/star.svg");

  background-repeat: no-repeat;
  background-position: top right, top right 24px, top right 48px, top right 72px;
}

.hotels__rating--2{
  background-image:
    url("../img/decor/star.svg"),
    url("../img/decor/star.svg"),
    url("../img/decor/star.svg");

  background-repeat: no-repeat;
  background-position: top right, top right 24px, top right 48px;
}

.hotels__rating--3{
  background-image:
    url("../img/decor/star.svg"),
    url("../img/decor/star.svg");

  background-repeat: no-repeat;
  background-position: top right, top right 24px;
}
